.eltd-drop-down .narrow .second .inner ul li {
    width: max-content !important;
}
.vc_custom_1520940084230 {
    padding-top: 15px !important;
    padding-bottom: 0 !important;
}
.eltd-vertical-align-containers .eltd-position-left {
    height: auto !important;
}
.eltd-logo-wrapper a img {
    height: 100px !important;
    width: 100px !important;
}
.eltd-page-header .eltd-menu-area {
    height: 110px !important;
}
.eltd-page-footer .eltd-footer-bottom-holder .eltd-footer-bottom-inner.eltd-full-width {
    padding:0px !important;
}
.eltd-page-footer .eltd-footer-bottom-holder .eltd-grid-row .eltd-grid-col-6:last-child {
    text-align: right;
    padding: 35px !important;
}
.eltd-page-footer .eltd-footer-bottom-holder .eltd-grid-row .eltd-grid-col-6 .widget_media_image:nth-child(1), .eltd-page-footer .eltd-footer-bottom-holder.eltd-footer-bottom-skin-light .eltd-grid-row .eltd-grid-col-6 .widget_media_image:nth-child(2) {
    display: block;
    width: 100px !important;
    padding-left: 20px;
}
.page-id-28 .eltd-top-bar {
    background-color: #ff9027 !important;
}
.eltd-main-menu>ul>li.eltd-active-item>a, .eltd-main-menu>ul>li>a:hover {
    color: #ff9027 !important;
}
.eltd-main-menu>ul>li>a {
    color: #ff9027 !important;
}
.eltd-main-menu ul li a {
    color: #ff9027 !important;
}
#submit_comment, .post-password-form input[type=submit], input.wpcf7-form-control.wpcf7-submit {
    background-color: #ff9027 !important;
}
.eltd-page-footer .widget.widget_nav_menu ul li a {
    color: #ff9027 !important;
}
.details{
    padding-bottom: 15px;
}
p {
    margin: 10px 0;
    font-family: Lato,sans-serif !important;
    font-size: 16px !important;
}

h1, h2, h3, h4 {
    color: #000;
    font-family: Lato,sans-serif !important;
    letter-spacing: .02em;
    font-weight: 400;
    text-transform: uppercase;
}